:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Daktronics9x15;
  src: url("/daktronics-9x15.otf") format("opentype");
}

html,
body,
#root {
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
